<div class="card">
    <h2>Créer un nouvel utilisateur</h2>
    <form class="user-form" [formGroup]="userForm">
      <label for="firstName">
        Prénom <br>
        <input class="input-custom" type="text" id="firstName" [formControlName]="'firstName'">
      </label>
      <br>
      <label for="lastName">
        Nom <br>
        <input class="input-custom" type="text" id="lastName" [formControlName]="'lastName'">
      </label>
      <br>
      <button type="submit" class="button-card" (click)="addUser()">Ajouter</button>
    </form>
  </div>
