<div *ngIf="quiz" class="card">
  <h2>
    Nom : {{quiz.name}}
  </h2>
  <span> <br>Theme: {{quiz.theme}} </span>
  <span> <br> Nombre Questions: {{quiz.questions.length}} </span>
  <br>
  <button (click)="selectQuiz()" class="button-card"> Selectionner</button>
  <button (click)="delete()" class="button-card"> Supprimer</button>
  <!--<button class="button-card" (click)="redirectToEditQuiz()"> Modifier </button>-->
  <nav>
    <a routerLink="/edit/{{quiz.id}}">Edit your quiz</a>
  </nav>
  <router-outlet></router-outlet>
</div>
